NEXT_PUBLIC_BASE_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_RPC_URL=https://polygon-amoy.drpc.org
NEXT_PUBLIC_STATE_CONTRACT=0x1a4cC30f2aA0377b0c3bc9848766D90cb4404124

NEXT_PUBLIC_MT_LEVEL=40
NEXT_PUBLIC_MT_LEVELS_ONCHAIN=64
NEXT_PUBLIC_VALUE_ARRAY_SIZE=64
NEXT_PUBLIC_MT_LEVELS_CLAIM=32

NEXT_PUBLIC_AUTH_V3_WASM_PATH=./circuits/authV3/circuit.wasm
NEXT_PUBLIC_AUTH_V3_ZKEY_PATH=./circuits/authV3/circuit_final.zkey
NEXT_PUBLIC_AUTH_V3_VERIFICATION_KEY_PATH= ./circuits/authV3/verification_key.json
NEXT_PUBLIC_CREDENTIAL_ATOMIC_QUERY_V3_WASM_PATH=./circuits/credentialAtomicQueryV3/circuit.wasm
NEXT_PUBLIC_CREDENTIAL_ATOMIC_QUERY_V3_ZKEY_PATH=./circuits/credentialAtomicQueryV3/circuit_final.zkey
